/* Base styles */
.dashboard {
    gap: 20px;
    justify-content: center;
    padding: 20px;
  }

  .dashboard-h1{
    text-transform: uppercase;
    color: red;
    letter-spacing: 1.8px;
    font-weight: bold;
  }

  .dashboard-h1 span{
    color: #007bff;
  }

  .dashboard-container{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
  }
  
  .dashboard-box {
    /* background-color: #f3f3f3; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    align-items: center;
    width: 100%;
    max-width: 350px; /* Limits the size of the boxes */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .last{
   padding-top: 1rem;
  }

  .last .dashboard-box{
    margin: 0 auto;
   max-width: 735px;
   padding: 20px;
  }

  .recharts-wrapper svg{
    display: flex;
  }

  .recharts-layer{
    position: relative;
  }
  
  .dashboard-box h2 {
    margin: 10px 0;
    font-size: 1.5rem; /* Ensure text scales with screen size */
    color: #333;
  }

  .dashboard-sale{
    margin-top: 3rem;
    /* bottom: 0; */
  }

  
  /* Media Queries for Responsiveness */
  
  /* For tablets and smaller devices */
  @media (max-width: 768px) {
    .dashboard {
      flex-direction: column; /* Stack boxes on smaller devices */
      padding: 10px;
    }
  
    .dashboard-box {
      width: 90%; /* Make boxes take 90% of the screen */
      margin: 10px auto;
    }
  
    .dashboard-box h2 {
      font-size: 1.25rem; /* Adjust text size for smaller screens */
    }
  }
  
  /* For mobile devices */
  @media (max-width: 480px) {
    .dashboard-box {
      width: 100%; /* Make boxes full width */
      padding: 15px; /* Less padding for mobile */
    }
  
    .dashboard-box h2 {
      font-size: 1rem; /* Smaller text size on mobile */
    }
  }
  