/* Basic Navbar Styles */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background: linear-gradient(to right, green 0%, blue 50%, red 100%);

    color: white;
  }
  
  .navbar-left .navbar-brand {
    font-size: 1.5rem;
    text-decoration: none;
    color: white;
  }
  
  .navbar-right {
    display: flex;
    gap: 1rem;
  }
  
  .navbar-link {
    text-decoration: none;
    color: white;
    padding: 0.5rem;
    border-radius: 4px;
  }
  
  .navbar-link:hover {
    background-color: rgba(0, 123, 255, 0.105);
  }
  
  .navbar-toggle {
    display: none; /* Hide the hamburger menu icon by default */
    cursor: pointer;
  }
  
  /* Hamburger Icon */
  .hamburger-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 20px;
  }
  
  .hamburger-icon .line {
    background-color: white;
    height: 4px;
    width: 100%;
  }
  
  .hamburger-icon.open .line:nth-child(1) {
    transform: rotate(45deg);
    position: relative;
    top: 8px;
  }
  
  .hamburger-icon.open .line:nth-child(2) {
    opacity: 0;
  }
  
  .hamburger-icon.open .line:nth-child(3) {
    transform: rotate(-45deg);
    position: relative;
    top: -8px;
  }
  
  /* Navbar links that are hidden on mobile */
  .navbar-right {
    display: flex;
    gap: 1rem;
  }
  
  .navbar-right.open {
    display: block; /* Display links in mobile */
    position: absolute;
    top: 60px; /* Adjust based on navbar height */
    right: 0;
    background-color: #333;
    width: 100%;
    padding: 1rem;
    box-sizing: border-box;
  }
  
  .navbar-right.open .navbar-link {
    margin: 10px 0;
  }
  
  /* Media Queries for Responsiveness */
  @media screen and (max-width: 768px) {
    .navbar-right {
      display: none; /* Hide navbar items by default on mobile */
      width: 100%;
      /* flex-direction: column; */
      align-items: flex-start;
    }
  
    .navbar-toggle {
      display: block; /* Show hamburger icon */
    }

    .navbar-right.open{
      display: flex;
      flex-wrap: wrap;
      margin: 0;
      background: linear-gradient(to right, green 10%, blue 50%, red 100%);
    }
    /* FOR THE HORIZONTAL DISPLAY */
    .navbar-right.open .navbar-link {
      margin: 0;
      flex: 0 0 30%;
      max-width: 50%;
  }
  }
  
  /* Media Query for Mobile */
  @media (min-width: 768px) and (max-width: 1023px) {
    .navbar-right.open .navbar-link {
      margin: 0;
      flex: 0 0 14.5%;
      max-width: 50%;
  }
  .navbar-right {
    display: none; /* Hide navbar items by default on mobile */
    width: 100%;
    /* flex-direction: column; */
    align-items: flex-start;
  }

  .navbar-toggle {
    display: block; /* Show hamburger icon */
  }

  .navbar-right.open{
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    background: linear-gradient(to right, green 10%, blue 50%, red 100%);
  }
  
  }
  